<html>
    <head>
        <title>dashboard</title>
    </head>
    <body>
        <h1><a href="/">Dashboard</a></h1>
        <h3><a href="{% url 'logout' %}">Logout</a></h3>
        {% if request.user.is_superuser %}
            <h1> Welcome {{ request.user}}</h1>
            <h2>Managers For Branches</h2>
            {% for user in users %}
                <h4> Name: {{ user.username }}</h4>
            {% endfor %}
        {% else %}
            {% for user in users %}
                <h4> Name: {{ user.username }}</h4>
            {% endfor %}
        {% endif %}
    </body>
</html>